<html>
<head>
<STYLE>
a:link    {color:white;
          text-decoration:  none;}
a:visited {color:white;
          }
a:hover   {color:white;}
a:active  {color:white;}


.container
{
  background-color:grey;
}

</STYLE>
</head>

<h1>Keywords</h1>
<%@num_row_keywords = (@keywords.size / 8.to_f).ceil%>
  <%for i in 0..@num_row_keywords%>
      <%for j in 0..7%>
        <% break if 8*i+j>@keywords.size-1%>
          <span class="label label-success" id="<%=@keywords[8*i+j]%>"><div id="keywords"> <%= link_to "#{@keywords[8*i+j]}",:controller => :tweets, :action => :index,:keyword=>@keywords[8*i+j]%></div></span>
      <%end%>
  <%end%>


<h2>Sub Keywords</h2>
<div class="container">
<%@num_row_subkeywords = (@array.size / 10.to_f).ceil%>
  <%for i in 0..@num_row_subkeywords%>
    <ul>
      <%for j in 0..9%>
        <% break if 10*i+j>@array.size-1%>
        <% @size=@array[10*i+j][1]*1.5 %>
        <font size="<%=@size*2%>"><%= link_to "#{@array[10*i+j][0]}",:controller => :tweets, :action => :index,:subkeyword=>@array[10*i+j][0],:keyword=>@selected_keyword%>
      <%end%>
    </ul>
  <%end%>
</div>

<script>
var elem = document.getElementById("<%=@selected_keyword%>")
elem.style.fontSize = "large"
elem.style.color="#f3f3f3";
</script>


</html>
